section.sectors {
    padding-top: 10rem;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
section.sectors > .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100% - 100px);
}
section.sectors > .row .columns {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.sectors-inner {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.sector {
    display: flex;
    width: 25%;
    background: #fff;
    color: #151515;
    border-top: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.sector:hover {
    width: 50%;
}
.swiper-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    position: relative;
}
.sector.sector-menu {
    color: #fff;
    width: 20%;
    background: #151515;
    border-right: none;
}
.sector:before {
    display: inline-block;
    content: '';
    width: 100%;
    height: 0;
    border-top: 1px solid #f1f1f1;
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 3;
}
.sector-inner-wrapper {
    width: 100%;
    padding: 3rem 0;
    position: relative;
}
.sector-inner-wrapper h3 {
    font-weight: 100;
    text-align: left;
    padding-left: 15px;
}
.sector-menu-holder {
    direction: rtl;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.sector-menu-holder ul {
    text-align: left;
    margin: 0;
}
.sector-menu-holder ul li {
    position: relative;
    padding: 10px 10px 10px 15px;
    border-top: 1px solid rgba(255,255,255,0.3);
    font-size: 14px;
}
.sector-menu-holder ul li a {
    color: #fff;
    display: block;
}
.sector-menu-holder ul li:before, .sector-menu ul li:after {
    display: inline-block;
    content: '';
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s,-webkit-transform .5s;
}
.sector-menu-holder ul li:before {
    width: 11px;
    height: 11px;
    -webkit-transform: scale(0.25);
    -ms-transform: scale(0.25);
    transform: scale(0.25);
    top: 2px;
    right: 20px;
}
.sector-menu-holder ul li:hover:before {
    -webkit-transform: translateY(13px) scale(1);
    -ms-transform: translateY(13px) scale(1);
    transform: translateY(13px) scale(1);
}
.sector-menu-holder ul li:after {
    width: 11px;
    height: 11px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    top: 17px;
    right: 20px;
}
.sector-menu-holder ul li:hover:after {
    -webkit-transform: translateY(13px) scale(0.25);
    -ms-transform: translateY(13px) scale(0.25);
    transform: translateY(13px) scale(0.25);
}
.sector:hover .image-layer {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.sector .image-layer img {
    min-height: 100%;
    min-width: 100%;
}
.sectors-inner .article-container {
    display: flex;
    width: 80%;
    height: 100%;
    border: 1px solid transparent;
    border-left: none;
    position: relative;
}
.sectors-inner .article-container .article-inner {
    width: 100%;
    height: 100%;
    border: 1px solid #f1f1f1;
    overflow-y: auto;
    padding: 2rem 4rem;
}
.sectors-inner .article-container .article-inner::-webkit-scrollbar {
    width: 0.5em;
}

.sectors-inner .article-container .article-inner::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.sectors-inner .article-container .article-inner::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.article-content {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 2rem; /* Firefox */
    column-gap: 2rem;
    text-align: justify;
}
.sectors-inner .article-container .close-article {
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.sectors-inner .article-container .close-article i {
    padding: 0.4rem 0.5rem;
}

.sectors-inner .article-container .close-article i:hover {
    cursor: pointer;
}
h1.title {
    text-decoration: none;
    font-weight: 700;
    font-size: 28px;
}
span.date {
    margin-bottom: 1rem;
    display: block;
}
:host ::ng-deep .article-content img {
    margin: 1rem 0;
}
:host ::ng-deep .article-content img:first-child {
    margin-top: 0;
}
.news-menu li {
    list-style: none;
    font-weight: 700;
}
.news-menu li a {
    color: #fff;
}
.news-menu li a.active, .news-menu li a:hover {
    color: #86c25a;
}