section.sectors {
    padding-top: 9rem;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}
section.sectors > .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100% - 25px);
}
section.sectors > .row .columns {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.sectors-inner {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}
.sector {
    display: flex;
    width: 100%;
    color: #012842;
    border-top: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    overflow: hidden;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    background: #fff;
}
.sector:hover {
    width: 100%;
}
.swiper-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
}
.sector.sector-menu {
    color: #fff;
    width: 100%;
    background: #012842;
    border-right: none;
}
.sector:before {
    display: inline-block;
    content: '';
    width: 100%;
    height: 0;
    border-top: 1px solid #f1f1f1;
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 3;
}
.sector-inner-wrapper {
    width: 100%;
    padding: 3rem 0 0 0;
    position: relative;
}
.sector-inner-wrapper h3 {
    font-weight: 100;
    text-align: left;
    padding-left: 15px;
    padding-right: 10px;
}
.sector-menu-holder {
    direction: rtl;
    bottom: 0;
    position: relative;
    width: 100%;
}
.sector-menu-holder ul {
    text-align: left;
    margin: 0;
}
.sector-menu-holder ul li {
    position: relative;
    padding: 10px 10px 10px 15px;
    border-top: 1px solid rgba(255,255,255,0.3);
    font-size: 14px;
}
.sector-menu-holder ul li a {
    color: #fff;
    display: block;
}
.sector-menu-holder ul li:before, .sector-menu ul li:after {
    display: inline-block;
    content: '';
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s,-webkit-transform .5s;
}
.sector-menu-holder ul li:before {
    width: 11px;
    height: 11px;
    -webkit-transform: scale(0.25);
    -ms-transform: scale(0.25);
    transform: scale(0.25);
    top: 2px;
    right: 20px;
}
.sector-menu-holder ul li:hover:before {
    -webkit-transform: translateY(13px) scale(1);
    -ms-transform: translateY(13px) scale(1);
    transform: translateY(13px) scale(1);
}
.sector-menu-holder ul li:after {
    width: 11px;
    height: 11px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    top: 17px;
    right: 20px;
}
.sector-menu-holder ul li:hover:after {
    -webkit-transform: translateY(13px) scale(0.25);
    -ms-transform: translateY(13px) scale(0.25);
    transform: translateY(13px) scale(0.25);
}
.swiper-container .sector .sector-title {
    width: 100%;
    text-align: left;
    position: relative;
    z-index: 2;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.swiper-container .sector {
    position: relative;
    z-index: 5;
}

.swiper-container .sector .sector-inner {
    padding: 1rem 1rem;
    width: 100%;
}
.sector-curtain-wrapper {
    width: 25%;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.curtain-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.swiper-container .sector-curtain {
    width: 100%;
    position: relative;
    height: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #151515;
    -webkit-transform: translateX(-101%);
    -moz-transform: translateX(-101%);
    -ms-transform: translateX(-101%);
    -o-transform: translateX(-101%);
    transform: translateX(-101%);
    -moz-transition: transform 500ms ease, background-color 0ms ease;
    -o-transition: transform 500ms ease, background-color 0ms ease;
    -webkit-transition: transform 500ms ease, background-color 0ms ease;
    transition: transform 500ms ease, background-color 0ms ease;
}
.swiper-container .sector-curtain.unfolded {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    z-index: 6;
}
.swiper-container .sector-curtain.transparent {
    background-color: transparent;
}

.swiper-container .sector-curtain.unfolded.opposite {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}
.swiper-container .sector:hover {
    cursor: pointer;
}
.sector-dot {
    position: absolute;
    bottom:2rem;
    width: 100%;
    z-index: 2;
}
.sector-dot span {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #151515;
    display: block;
    margin: 0 auto;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.sector-title h4 {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
}
.sector-title p {
    font-size: 0.9rem;
}
.image-layer {
    position: absolute;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    transform: translateY(100%);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.sector:hover .image-layer {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.sector .image-layer img {
    min-height: 100%;
    min-width: 100%;
}
.pagination {
    display: inline-block;
    text-align: center;
    width: calc(100% - 30px);
    margin-left: 15px;
    height: 30px;
    position: relative;
}
.pagination li {
    width: 95px;
    max-width: 49%;
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
}
.pagination li.next-wrap {
    right: 0;
}
.pagination li.previous-wrap {
    left: 0;
}
.pagination li span:before {
    width: 40px;
    height: 15px;
    border-bottom: 1px solid #fff;
    left: 0;
    top: 0;
    content: ' ';
    display: block;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
}
.pagination li span.previous:after {
    width: 8px;
    height: 8px;
    content: ' ';
    display: block;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 11px;
    left: -15px;
    position: absolute;
}
.pagination li span.next {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.pagination li span.previous {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}
.pagination li span.next:after {
    width: 8px;
    height: 8px;
    content: ' ';
    display: block;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 11px;
    left: 45px;
    position: absolute;
}
.sector-inner-alt {
    position: absolute;
    display: none;
    width: 100%;
    background: #012842;
    color: #fff;
    padding: 3rem 1rem;
    z-index: 10;
    -webkit-transform: translateX(-101%);
    -moz-transform: translateX(-101%);
    -ms-transform: translateX(-101%);
    -o-transform: translateX(-101%);
    transform: translateX(-101%);
    -webkit-transition: transform 300ms;
    -moz-transition: transform 300ms;
    -ms-transition: transform 300ms;
    -o-transition: transform 300ms;
    transition: transform 300ms;
    height: 100%;
}
.sector-inner-alt p strong {
    font-size: 0.9rem;
}
.sector:hover .sector-inner-alt {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.news-menu {
    padding-right: 2%;
}
.news-menu li {
    list-style: none;
    font-weight: 700;
    font-size: 0.75rem;
}
.news-menu li a {
    color: #fff;
}
.news-menu li a.active, .news-menu li a:hover {
    color: #DDB871;
}

/* Medium and up */
@media screen and (min-width: 40em) {
    section.sectors {
        height: 100%;
    }
    .sectors-inner {
        flex-direction: row;
    }
    .sector.sector-menu {
        width: 25%;
    }
    .sector-inner-wrapper {
        padding: 3rem 0;
    }
    .sector-menu-holder {
        position: absolute;
    }
    .swiper-container {
        width: 75%;
        flex-direction: row;
    }
    .swiper-container .sector .sector-inner {
        padding: 3rem 1rem;
    }
    .sector:hover {
        width: 50%;
    }
    .sector {
        border-left: none;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .sector {
        width: 50%;
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
    .swiper-container {
        width: 81%;
        flex-wrap: nowrap;
    }
    .sector.sector-menu {
        width: 19%;
    }
    .sector {
        width: 25%;
    }
    .sector-inner-alt {
        display: block;
    }
    .sector:hover .sector-inner-alt {
        display: block;
    }
}