<section class="sectors" *ngIf="loaded" [@enterAnimation]>
  <div class="row">
    <div class="columns large-12 small-12">
      <div class="sectors-inner">
        <div class="sector sector-menu">
          <div class="sector-inner-wrapper">
            <h3>News</h3>
            <div class="news-menu">
              <ul>
                <li *ngFor="let item of newsItems"><a [routerLink]="item.permalink ? item.permalink : item.url" routerLinkActive="active">{{ item.title }}</a></li>
              </ul>
            </div>
            <ul class="pagination">
              <li *ngIf="page > 1" (click)="previousPage()" title="Older news"  class="previous-wrap"><span class="previous"></span></li>
              <li *ngIf="page < maxPages" (click)="nextPage()" title="Newer news" class="next-wrap"><span class="next"></span></li>
            </ul>
            <div class="sector-menu-holder" *ngIf="menuLoaded">
              <ul>
                <li *ngFor="let item of menuItems"><a [routerLink]="item.permalink ? item.permalink : item.url">{{ item.title }}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-container">
          <div class="curtain-container">
            <div class="sector-curtain-wrapper">
              <div class="sector-curtain">
              </div>
            </div>
            <div class="sector-curtain-wrapper">
              <div class="sector-curtain">
              </div>
            </div>
            <div class="sector-curtain-wrapper">
              <div class="sector-curtain">
              </div>
            </div>
            <div class="sector-curtain-wrapper">
              <div class="sector-curtain">
              </div>
            </div>
          </div>
          <div class="sector"
                  *ngFor="let article of news" (click)="openArticle(article)">
            <div class="sector-inner">
              <div class="sector-title">
                <h4>{{article.post_title}}</h4>
              </div>
            </div>
            <div class="sector-inner-alt">
              <div class="sector-title">
                <h4>{{article.post_title}}</h4>
              </div>
              <img *ngIf="article.featured_image" style="margin-bottom: 1rem;" [src]="article.featured_image" [alt]="article.post_title">
              <p [innerHTML]="article.post_content | excerpt:20"></p>
              <p><strong>Details...</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>