<section class="sectors">
  <div class="row">
    <div class="columns large-12 small-12">
      <div class="sectors-inner">
        <div class="sector sector-menu">
          <div class="sector-inner-wrapper">
            <h3>Company</h3>
            <div class="sector-menu-holder">
              <ul>
                <li><a href="#">News</a></li>
                <li><a href="#">Social Responsibility</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-container">
          <div class="sector">
            <div class="sector-title">
              <h4>Real Estate</h4>
            </div>
            <div class="sector-dot">
              <span></span>
            </div>
            <div class="image-layer">
              <img src="http://via.placeholder.com/200x720" alt="">
            </div>
          </div>
          <div class="sector">
            <div class="sector-title">
              <h4>FMCG</h4>
            </div>
            <div class="sector-dot">
              <span></span>
            </div>
            <div class="image-layer">
              <img src="http://via.placeholder.com/200x720" alt="">
            </div>
          </div>
          <div class="sector">
            <div class="sector-title">
              <h4>Tourism</h4>
            </div>
            <div class="sector-dot">
              <span></span>
            </div>
            <div class="image-layer">
              <img src="http://via.placeholder.com/200x720" alt="">
            </div>
          </div>
          <div class="sector">
            <div class="sector-title">
              <h4>Agriculture</h4>
            </div>
            <div class="sector-dot">
              <span></span>
            </div>
            <div class="image-layer">
              <img src="http://via.placeholder.com/200x720" alt="">
            </div>
          </div>
          <div class="sector">
            <div class="sector-title">
              <h4>Banking</h4>
            </div>
            <div class="sector-dot">
              <span></span>
            </div>
            <div class="image-layer">
              <img src="http://via.placeholder.com/200x720" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>