section.sectors {
    padding-top: 9rem;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}
section.sectors > .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
}
section.sectors > .row .columns {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.sectors-inner {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}
.sector {
    display: flex;
    width: 100%;
    color: #151515;
    border-top: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    overflow: hidden;
    padding: 0.5rem 0;
}
.swiper-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('../../assets/img/pozadinski.png');
    background-position: center center;
    background-repeat: repeat;
}
.sector.sector-menu {
    color: #fff;
    width: 100%;
    background: #012842;
}
.sector:before {
    display: inline-block;
    content: '';
    width: 100%;
    height: 0;
    border-top: 1px solid #f1f1f1;
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 3;
}
.sector-inner-wrapper {
    width: 100%;
    padding: 3rem 0 0 0;
    position: relative;
}
.sector-inner-wrapper h3 {
    font-weight: 100;
    text-align: left;
    padding-left: 15px;
    padding-right: 10px;
}
.sector-menu-holder {
    direction: rtl;
    bottom: 0;
    position: relative;
    width: 100%;
}
.sector-menu-holder ul {
    text-align: left;
    margin: 0;
}
.sector-menu-holder ul li {
    position: relative;
    padding: 10px 10px 10px 15px;
    border-top: 1px solid rgba(255,255,255,0.3);
    font-size: 14px;
}
.sector-menu-holder ul li a {
    color: #fff;
    display: block;
}
.sector-menu-holder ul li:before, .sector-menu ul li:after {
    display: inline-block;
    content: '';
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s,-webkit-transform .5s;
}
.sector-menu-holder ul li:before {
    width: 11px;
    height: 11px;
    -webkit-transform: scale(0.25);
    -ms-transform: scale(0.25);
    transform: scale(0.25);
    top: 2px;
    right: 20px;
}
.sector-menu-holder ul li:hover:before {
    -webkit-transform: translateY(13px) scale(1);
    -ms-transform: translateY(13px) scale(1);
    transform: translateY(13px) scale(1);
}
.sector-menu-holder ul li:after {
    width: 11px;
    height: 11px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    top: 17px;
    right: 20px;
}
.sector-menu-holder ul li:hover:after {
    -webkit-transform: translateY(13px) scale(0.25);
    -ms-transform: translateY(13px) scale(0.25);
    transform: translateY(13px) scale(0.25);
}
.swiper-container .sector .sector-title {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.swiper-container .sector {
    align-items:center;
    position: relative;
}
.swiper-container .sector:hover {
    cursor: pointer;
}
.sector-dot {
    position: absolute;
    bottom:2rem;
    width: 100%;
    z-index: 2;
    display: none;
}
.sector-dot span {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #012842;
    display: block;
    margin: 0 auto;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.sector-title {
    color: #012842;
}
.sector-title h4 {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 0;
}
.image-layer {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    transform: translateY(100%);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    bottom: 0;
}
.sector:hover .image-layer {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.sector .image-layer img {
    min-height: 100%;
    min-width: 100%;
}
.swiper-container .sector:hover .sector-title {
    color: #fff;
}
.swiper-container .sector:hover .sector-dot span {
    background: #fff;
    zoom: 1.5;
}
/* Medium and up */
@media screen and (min-width: 40em) {
    section.sectors > .row {
        height: calc(100% - 25px);
    }
    section.sectors {
        height: 100%;
    }
    .sectors-inner {
        flex-direction: row;
    }
    .sector.sector-menu {
        width: 19%;
    }
    .sector-menu-holder {
        position: absolute;
    }
    .sector-inner-wrapper {
        padding: 3rem 0;
    }
    .swiper-container {
        width:81%;
        flex-direction:row;
    }
    .sector {
        width: 25%;
        border-left: none;
        padding: 0;
    }
    .sector-dot {
        display: block;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {
}