<swiper #agriSwiper [config]="swiperConfig">
  <div class="agrieurope-swiper-container" *ngFor="let slide of slides">
    <video #videoRef [poster]="slide.video_poster ? slide.video_poster : ''" id="bgvid" preload="auto" playsinline autoplay (ended)="videoEnded()">
      <source [src]="slide.webm_video_url" type="video/webm">
      <source [src]="slide.mp4_video_url" type="video/mp4">
    </video>
  </div>
</swiper>
<div class="row video-controls">
  <div class="columns large-6 small-6 more-info-col control-col">
    &nbsp;
  </div>
  <div class="columns large-6 small-6 toggle-sound-col control-col">
    <span *ngIf="!muted" class="sound-icon sound-on" (click)="toggleMute()"><img [src]="'./assets/img/sound-on.png'" [alt]="'Sound On'"></span>
    <span *ngIf="muted" class="sound-icon sound-off" (click)="toggleMute()"><img [src]="'./assets/img/sound-off.png'" [alt]="'Sound Off'"></span>
  </div>
</div>