video {
    position: fixed;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.sound-icon {
    z-index: 99;
    position: absolute;
    bottom: 5rem;
    right: 5rem;
    cursor: pointer;
}