/** 1. General style */
html,
body {
    height: 100%;
}
body {
    padding:0;
    margin: 0;
    font-family: 'CeraPRO', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'CeraPRO', sans-serif;
}
p {
    font-size: 0.85rem;
}
.logo-small img {
    max-width: 90px;
}
.sectors-inner {
    padding: 0 2rem;
}
video {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    min-width: 100%;
    min-height: 100%;
}
/** 2. Preloader screen */
.logo-inner {
    text-align: center;
}
.logo-inner img {
    display: block;
    margin: 0 auto;
}
main {
    background: url('./assets/img/pozadinski.png') center center no-repeat;
    background-size: 66%;
}
/* Swiper layout */
swiper.s-wrapper>.swiper {
    position: fixed;
    top: 0;
}
.sector-inner-wrapper h3{
    font-size: 24px;
}
.news-menu ul {
    margin-left: 15px;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
    .hide-mob {
        display: none;
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}