/** 1. General style */
html,
body {
    height: 100%;
}
body {
    padding:0;
    margin: 0;
    font-family: 'CeraPRO', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'CeraPRO', sans-serif;
}
/** 2. Preloader screen */
.logo-inner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Swiper layout */
swiper.s-wrapper>.swiper {
    position: fixed;
    top: 0;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
    .hide-mob {
        display: none;
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}