/** 1. General style */
body {
    padding:0;
    margin: 0;
    font-family: 'CeraPRO', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'CeraPRO', sans-serif;
}


/** 2. Preloader screen */
.logo-inner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}