<section class="sectors" *ngIf="loaded">
  <div class="row">
    <div class="columns large-12 small-12">
      <div class="sectors-inner">
        <div class="sector sector-menu">
          <div class="sector-inner-wrapper">
            <h3>{{ article.post_title }}</h3>
            <div class="news-menu">
              <ul>
                <li *ngFor="let item of submenu"><a [routerLink]="item.permalink" routerLinkActive="active">{{ item.title }}</a></li>
              </ul>
            </div>
            <div class="sector-menu-holder" *ngIf="menuLoaded">
              <ul>
                <li *ngFor="let item of menuItems"><a [routerLink]="item.permalink">{{ item.title }}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="article-container" [ngStyle]="!!background ? { 'background-image': 'url(' + background + ')' } : ''">
          <div class="article-inner">
            <h1 class="title" *ngIf="!background">{{ article.post_title }}</h1>
            <div class="article-content" [ngStyle]="!!background ? {
              'column-count': 1,
              'width': '50%',
              'float': 'right',
              'display': 'flex',
              'flex-direction': 'column',
              'bottom': '1rem',
              'right': '2rem',
              'flex-grow': 1,
              'position': 'absolute',
              'color': '#fff'
              } : {}" [innerHTML]="articleHtml"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>