section.sectors {
    padding-top: 9rem;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}

section.sectors > .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
}

section.sectors > .row .columns {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sectors-inner {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    position: relative;
}

.sector {
    display: flex;
    width: 25%;
    background: #fff;
    color: #151515;
    border-top: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.sector:hover {
    width: 50%;
}

.swiper-container {
    display: flex;
    flex-direction: row;
    width: 75%;
    position: relative;
    background-color: #fff;
    background-image: url('../../assets/img/pozadinski.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 66%;
}

.sector.sector-menu {
    color: #fff;
    width: 100%;
    background: #151515;
    border-right: none;
}

.sector:before {
    display: inline-block;
    content: '';
    width: 100%;
    height: 0;
    border-top: 1px solid #f1f1f1;
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 3;
}

.sector-inner-wrapper {
    width: 100%;
    padding: 3rem 0 0 0;
    position: relative;
}

.sector-inner-wrapper h3 {
    font-weight: 100;
    text-align: left;
    padding-left: 15px;
    padding-right: 10px;
}

.sector-menu-holder {
    direction: rtl;
    bottom: 0;
    position: relative;
    width: 100%;
}

.sector-menu-holder ul {
    text-align: left;
    margin: 0;
}

.sector-menu-holder ul li {
    position: relative;
    padding: 10px 10px 10px 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 14px;
}

.sector-menu-holder ul li a {
    color: #fff;
    display: block;
}

.sector-menu-holder ul li:before, .sector-menu ul li:after {
    display: inline-block;
    content: '';
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

.sector-menu-holder ul li:before {
    width: 11px;
    height: 11px;
    -webkit-transform: scale(0.25);
    -ms-transform: scale(0.25);
    transform: scale(0.25);
    top: 2px;
    right: 20px;
}

.sector-menu-holder ul li:hover:before {
    -webkit-transform: translateY(13px) scale(1);
    -ms-transform: translateY(13px) scale(1);
    transform: translateY(13px) scale(1);
}

.sector-menu-holder ul li:after {
    width: 11px;
    height: 11px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    top: 17px;
    right: 20px;
}

.sector-menu-holder ul li:hover:after {
    -webkit-transform: translateY(13px) scale(0.25);
    -ms-transform: translateY(13px) scale(0.25);
    transform: translateY(13px) scale(0.25);
}

.sector:hover .image-layer {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.sector .image-layer img {
    min-height: 100%;
    min-width: 100%;
}

.sectors-inner .article-container {
    display: flex;
    flex-direction:row;
    width: 100%;
    max-height: 100%;
    min-height: 200px;
    border: 1px solid transparent;
    border-left: none;
    position: relative;
    -webkit-background-size: contain;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.sectors-inner .article-container.history {
    background-size: 100%;
}

.sectors-inner .article-container .article-inner {
    width: 100%;
    border: 1px solid #f1f1f1;
    overflow-y: auto;
    padding: 0.5rem;
    min-height: 100%;
}

.sectors-inner .article-container .article-inner::-webkit-scrollbar {
    width: 0.5em;
}

.sectors-inner .article-container .article-inner::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sectors-inner .article-container .article-inner::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.article-content {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    text-align: justify;
}

.article-content p {
    font-size: 0.9rem;
}

.sectors-inner .article-container .close-article {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.sectors-inner .article-container .close-article i {
    padding: 0.4rem 0.5rem;
}

.sectors-inner .article-container .close-article i:hover {
    cursor: pointer;
}

h1.title {
    text-decoration: none;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 2rem;
}
h1.title.single-column {
    text-align: center;
}

span.date {
    margin-bottom: 1rem;
    display: block;
}

:host ::ng-deep .article-content img {
    margin: 1rem 0;
}

:host ::ng-deep .article-content img:first-child {
    margin-top: 0;
}

.news-menu li {
    list-style: none;
    font-weight: 700;
}

.news-menu li a {
    color: #fff;
}

.news-menu li a.active, .news-menu li a:hover {
    color: #86c25a;
}

agm-map {
    height: 100%;
}

:host ::ng-deep .article-content.chairman {
    column-count: 1;
    width: 90%;
    float: right;
    display: flex;
    flex-direction: column;
    bottom: 0.5rem;
    right: 0.5rem;
    flex-grow: 1;
    position: absolute;
    color: #fff
}

:host ::ng-deep .article-content.chairman p {
    font-size: 0.7rem;
    margin: 0;
}

:host ::ng-deep .article-content.chairman h3 {
    font-size: 1.4rem;
}

:host ::ng-deep .single-column {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    max-width: 100%;
    margin: 0 auto;
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .sectors-inner .article-container .article-inner {
        padding: 4rem;
    }
    section.sectors > .row {
        height: calc(100% - 25px);
    }
    section.sectors {
        height: 100%;
    }
    .sectors-inner {
        flex-direction:row;
    }
    .sector.sector-menu {
        width: 25%;
    }
    .sector-menu-holder {
        position: absolute;
    }
    .sector-inner-wrapper {
        padding: 3rem 0;
    }
    .sectors-inner .article-container {
        width: 75%;
    }
    :host ::ng-deep .article-content.chairman {
        width: 45%;
    }
    :host ::ng-deep .article-content.chairman {
        bottom: 2rem;
        right: 3rem;
    }
    :host ::ng-deep .article-content.chairman p {
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

    :host ::ng-deep .article-content.chairman h3 {
        font-size: 1.8rem;
    }
    :host ::ng-deep .single-column {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        max-width: 100%;
        margin: 0 auto;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {
    .article-content {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 4rem; /* Chrome, Safari, Opera */
        -moz-column-gap: 4rem; /* Firefox */
        column-gap: 4rem;
        text-align: justify;
    }
    .sectors-inner .article-container {
        width: 80%;
    }
    .swiper-container {
        width: 80%;
    }
    .sector.sector-menu {
        width: 20%;
    }
    .sector {
        width: 20%;
    }
    :host ::ng-deep .single-column {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        max-width: 66%;
        margin: 0 auto;
    }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}