<section class="sectors" *ngIf="loaded" [@enterAnimation]>
    <div class="row">
        <div class="columns large-12 small-12">
            <div class="sectors-inner">
                <div class="sector sector-menu">
                    <div class="sector-inner-wrapper">
                        <h3>{{
                            article.post_name === 'about-us' ||
                            article.post_name === 'mission-vision-values' ?
                            general : article.post_title }}</h3>
                        <div class="news-menu">
                            <ul>
                                <li *ngFor="let item of submenu"><a
                                        [routerLink]="item.permalink ? item.permalink : item.url"
                                        routerLinkActive="active">{{ item.title }}</a></li>
                            </ul>
                        </div>
                        <div class="sector-menu-holder" *ngIf="menuLoaded">
                            <ul>
                                <li *ngFor="let item of menuItems"><a
                                        [routerLink]="item.permalink ? item.permalink : item.url">{{ item.title }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="article-container"
                     (click)="openImage(bgImage, article.post_name === 'history' ? false : true);"
                     [ngClass]="{'history': article.post_name === 'history'}"
                     [ngStyle]="!!background && article.post_name != 'chairman' && article.post_name != 'contact' ? { 'background-image': 'url(' + background + ')', 'background-size': 'cover', 'background-repeat': 'no-repeat' } : ''">
                    <div class="article-inner"
                         [ngStyle]="article.post_name == 'contact' || article.post_name == 'chairman' ? { padding: 0, display: flex, flexDirection: column } : {}">
                        <div class="row collapse" *ngIf="article.post_name === 'contact'" style="display: flex;flex-direction: column;">
                            <div class="columns large-12 small-12" [ngStyle]="{
                            'background-image': 'url(\'' + background + '\')',
                            'background-size': 'cover',
                            'background-repeat': 'no-repeat',
                            'background-position': 'center center',
                            'min-height': '250px'
                            }">
                            </div>
                            <div class="columns large-12 small-12">
                                <div class="row contact-row collapse" *ngIf="article.post_name === 'contact'" style="display: flex;flex-direction: column;">
                                    <div class="columns large-12 medium-12 small-12 image-contain" style="flex-direction: row-reverse">
                                        <div class="article-content" [innerHTML]="articleHtml"
                                             style="column-count: 1;text-align: center;display: flex;flex-direction: column;justify-content: center;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row small-only-collapse" *ngIf="article.post_name === 'chairman'">
                            <div class="columns large-8 medium-12 small-12"
                                 style="height: 100%;flex-grow: 1;padding-left: 0;display: flex;position: relative;">
                                <div class="featured-image" *ngIf="!!background" [ngStyle]="{
                  'background-image': 'url(\'' + background + '\')',
                  'height': '100%',
                  'background-repeat': 'no-repeat',
                  'background-size': 'contain',
                  'background-position': 'center center'
                }">
                                </div>
                            </div>
                            <div class="columns large-4 medium-12 small-12" style="justify-content: center;">
                                <div class="article-content" [innerHTML]="articleHtml"
                                     style="column-count: 1;"></div>
                            </div>
                        </div>
                        <h1 class="title" [ngClass]="{'single-column': article.columns == 1 && !background }"
                            *ngIf="!background && article.post_name != 'contact' && article.post_name != 'chairman'">{{
                            article.post_title }}</h1>
                        <div class="featured-image"
                             *ngIf="article.featured_image && article.post_name != 'contact' && article.post_name != 'chairman'">
                            <img [src]="article.featured_image" alt="article.post_title"/>
                        </div>
                        <div class="article-content"
                             [ngClass]="{ 'chairman' : !!background, 'single-column': article.columns == 1 && !background }"
                             *ngIf="article.post_name !== 'contact' && article.post_name != 'chairman'" [ngStyle]="[!!background ? {
              'column-count': 1,
              'width': '45%',
              'float': 'right',
              'display': 'flex',
              'flex-direction': 'column',
              'bottom': '2rem',
              'right': '3rem',
              'flex-grow': 1,
              'position': 'absolute',
              'color': '#fff'
              } : {}]" [innerHTML]="articleHtml">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</section>