<section class="sectors" *ngIf="loaded" [@enterAnimation]>
  <div class="row">
    <div class="columns large-12 small-12">
      <div class="sectors-inner">
        <div class="sector sector-menu">
          <div class="sector-inner-wrapper">
            <h3>{{
              article.post_name === 'about-us' ||
              article.post_name === 'mission-vision-values' ?
              'General' : (article.post_name === 'chairman' ||
              article.post_name === 'board-of-directors') ? 'Management' : article.post_title }}</h3>
            <div class="news-menu">
              <ul>
                <li *ngFor="let item of submenu"><a [routerLink]="item.permalink" routerLinkActive="active">{{ item.title }}</a></li>
              </ul>
            </div>
            <div class="sector-menu-holder" *ngIf="menuLoaded">
              <ul>
                <li *ngFor="let item of menuItems"><a [routerLink]="item.permalink">{{ item.title }}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="article-container" [ngStyle]="!!background ? { 'background-image': 'url(' + background + ')' } : ''">
          <div class="article-inner" [ngStyle]="article.post_name == 'contact' ? { padding: 0 } : {}">
            <agm-map *ngIf="article.post_name === 'contact'" [zoom]="17" [latitude]="lat" [longitude]="long">
              <agm-marker [latitude]="lat" [longitude]="long">
                <agm-info-window [innerHTML]="article.post_content_formatted"></agm-info-window>
              </agm-marker>
            </agm-map>
            <h1 class="title" [ngClass]="{'single-column': article.columns == 1 && !background }" *ngIf="!background && article.post_name != 'contact'">{{ article.post_title }}</h1>
            <div class="featured-image" *ngIf="article.post_name !== 'about-us' && article.featured_image">
              <img [src]="article.featured_image" alt="article.post_title"/>
            </div>
            <div class="article-content" [ngClass]="{ 'chairman' : !!background, 'single-column': article.columns == 1 && !background }" *ngIf="article.post_name !== 'contact'" [ngStyle]="[!!background ? {
              'column-count': 1,
              'width': '45%',
              'float': 'right',
              'display': 'flex',
              'flex-direction': 'column',
              'bottom': '2rem',
              'right': '3rem',
              'flex-grow': 1,
              'position': 'absolute',
              'color': '#fff'
              } : {}]" [innerHTML]="articleHtml">
            </div>
            <div class="featured-image" *ngIf="article.post_name === 'about-us' && article.featured_image">
              <img [src]="article.featured_image" alt="article.post_title"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>