<div class="agrieurope-slider__curtain curtain">
    <div class="curtain__section curtain__section_left">
        <div class="curtain__tile hide-tab hide-mob"></div>
    </div>
    <div class="curtain__section">
        <div class="curtain__tile hide-tab hide-mob"></div>
    </div>
    <div class="curtain__section">
        <div class="curtain__tile hide-tab hide-mob"></div>
    </div>
    <div class="curtain__section">
        <div class="curtain__tile hide-tab hide-mob"></div>
    </div>
    <div class="curtain__section">
        <div class="curtain__progress-line curtain__progress-line_desk hide-tab hide-mob"
             style="transform: translate(0%, 85.14%) translate3d(0px, 0px, 0px);"></div>
        <div class="curtain__tile hide-tab hide-mob" style=""></div>
    </div>
    <div class="curtain__section">
        <div class="curtain__tile hide-tab hide-mob"></div>
        <div class="curtain__progress-line curtain__progress-line_tab hide-desk hide-mob"></div>
    </div>
    <div class="curtain__section">
        <div class="curtain__tile hide-tab hide-mob"></div>
    </div>
    <div class="curtain__section curtain__section_right">
        <div class="curtain__tile hide-tab hide-mob"></div>
    </div>
</div>