.menu-bar {
    position: fixed;
    z-index: 5;
    padding-top: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.menu-bar.white-bg {
    color: #012842;
    background: #fff;
    padding-bottom: 1rem;
    z-index:99;
}
.trigger, .lang {
    float: right;
    font-size: 1.3rem;
    font-family: 'CeraPRO', Helvetica, Arial, sans-serif;
    font-weight: 700;
}
.lang {
    margin-right: 10px;
}
.trigger a, .lang a {
    color: #fff;
}
.trigger a:hover, .lang a:hover {
    color: #fff;
    text-decoration: none;
}
.menu-bar.white-bg .trigger a, .menu-bar.white-bg .lang a {
    color: #012842;
}
.menu-bar.white-bg .trigger a:hover, .menu-bar.white-bg .lang a:hover {
    color: #012842;
}
.trigger i {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    margin-left: 10px;
}
.trigger:hover i {
    -ms-transform: rotate(0); /* IE 9 */
    -webkit-transform: rotate(0); /* Chrome, Safari, Opera */
    transform: rotate(0);
}
.menu-animation {
    display: flex;
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 3;
    -webkit-border-radius: 50% 0 0 50%;
    -moz-border-radius: 50% 0 0 50%;
    border-radius: 50% 0 0 50%;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.menu-animation.open {
    width: 200%;
    height: 200%;
}
.available-lang {
    display: none;
    position: absolute;
    font-size: 1rem;
    margin-left: 0.5rem;
    list-style: none;
    width: 100%;
}
.available-lang ul {
    list-style: none;
    margin: 0;
}
.available-lang li a {
    font-size:1.3rem;
}
.lang.active .available-lang {
    display: block;
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .menu-bar.white-bg {
        background: transparent;
        padding-bottom:0;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {
}