<section [@enterAnimation] class="sector" *ngIf="linksTo === 'company_list' && !preload">
    <div class="row">
        <div class="companies-wrapper" data-equalizer="company-logs">
            <div
                    (click)="loadCompany(company)"
                    *ngFor="let company of companies"
                    (mouseout)="mouseOut(imgRef, company.logo_grey)"
                    (mouseover)="mouseOver(imgRef, company.logo_color)"
                    class="single-company columns large-4 small-12 medium-6 end" data-equalizer-watch="company-logs">
                <div class="logo-container">
                    <img #imgRef
                            [src]="company.logo_grey"
                            [title]="company.post_title"
                            [alt]="company.post_title"/>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</section>
<section [@enterAnimation] class="video-sector" *ngIf="linksTo === 'video_page' && !preload">
    <!--<app-grid-decoration></app-grid-decoration>-->
    <div class="agrieurope-sector">
        <video #videoRef preload="auto" playsinline autoplay loop [poster]="sector.video_poster ? sector.video_poster : ''">
            <source [src]="sector.background_video_webm" type="video/webm">
            <source [src]="sector.background_video_mp4" type="video/mp4">
        </video>
        <span *ngIf="!muted" class="sound-icon sound-on" (click)="toggleMute()"><img [src]="'./assets/img/sound-on.png'" [alt]="'Sound On'"></span>
        <span *ngIf="muted" class="sound-icon sound-off" (click)="toggleMute()"><img [src]="'./assets/img/sound-off.png'" [alt]="'Sound Off'"></span>
    </div>
</section>
<section class="preload-video" *ngIf="preload">
    <video playsinline autoplay muted (ended)="preloadEnded()">
        <source [src]="sector.preload_video_webm" type="video/webm">
        <source [src]="sector.preload_video" type="video/mp4">
    </video>
</section>