section.sector {
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: space-between;
}
section.sector > .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100% - 25px);
    justify-content: center;
}
section.sector .companies-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
section.sector .companies-wrapper .single-company {
    text-align: center;
}
section.sector .companies-wrapper .single-company:hover {
    cursor: pointer;
}
section.sector .companies-wrapper .single-company .logo-container {
    padding: 1rem 1rem;
}
section.video-sector {
    display: flex;
    width: 100%;
    height: 100%;
}
section.video-sector video {
    width: auto;
}
section.video-sector .agrieurope-sector {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.logo-container img {
    max-height: 160px;
}
.preload-video {
    display: flex;
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
    z-index: 99;
}
.preload-video video {
    background: #fff;
    z-index: 99;
}
.sound-icon {
    cursor: pointer;
    z-index: 10;
}

.more-info {
    cursor: pointer;
}
.more-info-collapsed {
    opacity:0;
}
.video-sector .popup {
    position: fixed;
    top: 6rem;
    left: 0;
    display: flex;
    flex-direction:column;
    width: 100%;
    height: calc(100% - 10rem);
    justify-content:center;
    align-items: center;
}
.video-sector .popup .popup-inner {
    max-width: 1170px;
    background: rgba(255,255,255,0.8);
    padding: 3rem 0;
    font-size: 80%;
    opacity: 0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.video-sector .popup .popup-inner .popup-content {
    padding: 0 2rem;
    overflow-y: auto;
    max-height: 50vh;
}
:host ::ng-deep .video-sector .popup .popup-inner .popup-content a img{
    margin-left: 10px;
    width: 100px;
}
.video-sector .popup .popup-inner .popup-content::-webkit-scrollbar {
    width: 0.5em;
}

.video-sector .popup .popup-inner .popup-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.video-sector .popup .popup-inner .popup-content::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.popup-outer-wrapper {
    position: relative;
}
.closepopup {
    position: absolute;
    right: 2rem;
    top:2rem;
    cursor: pointer;
    color: #012842;
}
.video-controls {
    position: absolute;
    width: 100%;
    bottom: 5rem;
    z-index: 10;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.control-col {
    position: relative;
}
.control-col span {
    position: absolute;
}
.more-info-col span {
    left: 1rem;
}
.toggle-sound-col span {
    right: 1rem;
    width: 30px;
}
.backbutton {
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    color: #012842;
}
:host ::ng-deep .popup-content h2 {
    color: #012842;
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .video-sector .popup .popup-inner .popup-content {
        padding: 0 5rem;
    }
    section.sector {
        height: 100%;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {
}