section.sector {
    padding-top: 9rem;
}
section.sector .companies-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
section.sector .companies-wrapper .single-company {
    text-align: center;
}
section.sector .companies-wrapper .single-company:hover {
    cursor: pointer;
}
section.sector .companies-wrapper .single-company .logo-container {
    padding: 1rem 1rem;
}
section.video-sector {
    display: flex;
    width: 100%;
    height: 100%;
}
section.video-sector video {
    width: 100%;
}
section.video-sector .agrieurope-sector {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.logo-container img {
    max-height: 160px;
}
.preload-video {
    display: flex;
    width: 100%;
    height: 100%;
    background: #fff;
}
.sound-icon {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
    cursor: pointer;
    z-index: 10;
}

.more-info {
    position: absolute;
    left: -1rem;
    bottom: -1rem;
    cursor: pointer;
}
.more-info-collapsed {
    opacity:0;
}
.video-sector .popup {
    position: fixed;
    top: 6rem;
    left: 0;
    display: flex;
    flex-direction:column;
    width: 100%;
    height: 75%;
    justify-content:center;
    align-items: center;
}
.video-sector .popup .popup-inner {
    max-width: 1170px;
    background: rgba(255,255,255,0.8);
    padding: 2rem 5rem;
    font-size: 80%;
    opacity: 0;
    position: relative;
}
.popup-outer-wrapper {
    position: relative;
}
.closepopup {
    position: absolute;
    right: 2rem;
    top:2rem;
    cursor: pointer;
}