section.video-sector {
    display: flex;
    width: 100%;
    height: 100%;
}
section.video-sector video {
    width: 100%;
}
section.video-sector .agrieurope-sector {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.sound-icon {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
}